/* Basic styles */
* {
    margin: 0;
    padding: 0;
    font: sans-serif;
    background: #f0f0f0;
    color: rgb(70, 70, 70);
    word-break: normal;
}

button:focus{
    outline: none;
}

/* No tasks indicator styles */
.noTasks{
    margin: 50px;
    font-size: 40px;
    font-weight: 700;
}