* {
    margin: 0;
    padding: 0;
}

body{
    padding: 0px 20%;
    font: sans-serif;
}

.task{
    height: 150px;
    margin: 70px;
}

.id-div{
    display: inline-block;
    width: 120px;
    height: 150px;
    font-size: 120px;
}

.info-div{
    display: inline-block;
}

.completion{
    font-size : 12px;
}

button{
    width: 100px;
    margin: 10px 0px 0px 0px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}

button:hover{
  background-color: rgb(238, 238, 238);
}

button:active{
  background-color: white;
}